# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
/.next/
/out/
/dist/

# IDE/Editor specific
.vscode/
.idea/
*.iml

# Environment variables
.env
.env.*
!.env.example

packages/ui/.env

# Config files (legacy)
config.toml

# Log files
logs/
*.log

# Testing
/coverage/

# Miscellaneous
.DS_Store
Thumbs.db

.turbo

packages/**/node_modules
packages/**/dist

/data

!.trunk/trunk.yaml
!.trunk/.gitignore

debug/

fixtures/runner_crate/target

.snfoundry_cache

python/starklings_results/
