services:
  postgres:
    image: pgvector/pgvector:pg17
    container_name: 'postgres'
    shm_size: 1g
    env_file:
      - .env
    ports:
      - 5455:5432
    volumes:
      - ./data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - cairo_coder

  backend:
    build:
      context: .
      dockerfile: backend.dockerfile
    container_name: 'cairo-coder-backend'
    ports:
      - 3002:3001
    depends_on:
      postgres:
        condition: service_started
    restart: unless-stopped
    networks:
      - cairo_coder

  ingester:
    platform: linux/amd64
    container_name: 'cairo-coder-ingester'
    build:
      context: .
      dockerfile: ingester.dockerfile
    depends_on:
      postgres:
        condition: service_started
    networks:
      - cairo_coder

networks:
  cairo_coder:

volumes:
  postgres_data:
