version: '3.8'

services:
  postgres:
    image: pgvector/pgvector:pg17
    container_name: "postgresql"
    shm_size: 1g
    env_file:
      - .env
    ports:
      - 5432:5432
    volumes:
      - ./data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - cairo_coder

  backend:
    build:
      context: .
      dockerfile: backend.dockerfile
    ports:
      - 3001:3001
    extra_hosts:
      - host.docker.internal:host-gateway
    env_file:
      - packages/backend/.env
    depends_on:
      postgres:
        condition: service_started
    restart: unless-stopped
    networks:
      - cairo_coder
  
  ingester:
    build:
      context: .
      dockerfile: ingest.dockerfile
    profiles: ["ingester"]
    depends_on:
      postgres:
        condition: service_started
    networks:
      - cairo_coder

networks:
  cairo_coder:

volumes:
  postgres_data:

